@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
}

h1 {
  font-family: "Shrikhand";
}

h2 {
  margin-bottom: 25px;
  margin-top: 25px;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  .logo-header__img {
    width: 200px;
  }
}

.exploration-restaurant {
  background-color: rgb(241, 241, 241);
}
@media (max-width: 768px) {
  .exploration-restaurant {
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
  }
}
@media (max-width: 768px) {
  .exploration-restaurant__recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: rgb(219, 219, 219);
  }
}
.exploration-restaurant__recherche > i {
  font-size: 20px;
}
@media (max-width: 768px) {
  .exploration-restaurant__recherche-bar {
    height: 100%;
    border: none;
    background-color: rgb(219, 219, 219);
  }
}
@media (max-width: 768px) {
  .exploration-restaurant__recherche-bar::-moz-placeholder {
    font-weight: bold;
    color: black;
    font-size: 17px;
  }
  .exploration-restaurant__recherche-bar:-ms-input-placeholder {
    font-weight: bold;
    color: black;
    font-size: 17px;
  }
  .exploration-restaurant__recherche-bar::placeholder {
    font-weight: bold;
    color: black;
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .exploration-restaurant__texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
  }
}
@media (max-width: 768px) {
  .exploration-restaurant__texte > h3 {
    font-weight: bold;
    margin-top: 50px;
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .exploration-restaurant__texte > p {
    margin-top: 25px;
    font-size: 18px;
  }
}
.exploration-restaurant__btn {
  padding: 20px;
  border-radius: 30px;
  font-size: 18px;
  background-color: #9356DC;
  color: white;
  margin-top: 40px;
  border: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.exploration-restaurant__btn:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .fonctionnement {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .fonctionnement__liste {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .fonctionnement__liste--description {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 768px) {
  .fonctionnement__liste--description > i {
    font-size: 25px;
    padding-left: 15px;
    padding-right: 30px;
    color: grey;
  }
}
@media (max-width: 768px) {
  .fonctionnement__liste--digit {
    display: flex;
    align-items: center;
    border: 2px solid #9356DC;
    padding: 5px;
    background-color: #9356DC;
    color: white;
    border-radius: 100%;
    height: 10px;
    position: relative;
    left: 3%;
  }
}

#store {
  color: #9356DC;
}

.restaurants {
  background-color: rgb(241, 241, 241);
}
@media (max-width: 768px) {
  .restaurants {
    padding: 20px;
  }
}
.restaurants__carte {
  text-decoration: none;
  color: black;
}
@media (max-width: 768px) {
  .restaurants__carte {
    margin-bottom: 20px;
  }
}
.restaurants__carte-new {
  width: 20%;
  text-align: center;
  padding: 3px;
  border-radius: 4px;
  background-color: #99E2D0;
  font-weight: bold;
  z-index: 10;
  position: relative;
  top: 40px;
  left: 75%;
}
@media (max-width: 768px) {
  .restaurants__carte-div {
    width: 100%;
  }
}
.restaurants__carte-div-img {
  border-radius: 20px 20px 0 0;
  height: 200px;
}
@media (max-width: 768px) {
  .restaurants__carte-div-img {
    position: relative;
    width: 100%;
    height: 200px;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.restaurants__carte-description {
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .restaurants__carte-description {
    position: relative;
    top: -10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .restaurants__carte-description-titre {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .restaurants__carte-description-like {
    padding-right: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
  }
}

.footer {
  background-color: rgb(53, 53, 53);
  padding-bottom: 25px;
  padding-left: 25px;
  color: white;
  padding-top: 25px;
}
.footer__logo {
  font-size: 25px;
}
.footer__liste {
  list-style-type: none;
  margin-top: 25px;
}
.footer__liste-element {
  margin-bottom: 10px;
  font-weight: bolder;
}
.footer__liste-element > i {
  width: 20px;
}/*# sourceMappingURL=main.css.map */