$duration : 4s;

.restaurants 
{
    animation: fin-chargement 0ms $duration both;
    background-color: $bg-color;
    text-align: center;
    width: 100%;

    @media (max-width : $mobile) {
        padding: 20px;
    }

    &__boite
    {  
        display: flex;
        justify-content: space-around;

        @media (max-width : $mobile) {
            flex-direction: column;
        }

        &-carte
        {
            text-decoration: none;
            color: black;
            width: 20%;
    
            @media (max-width : $mobile) {
                width: 100%;
            }
    
            &-new
            {
                background-color: $color-tertiary;
                color: darken($color-tertiary, 40%);
                font-weight: bold;
                border-radius: 4px;
                padding: 5px;
                z-index: 10;
                position: absolute;
                width: 5%;
                //top: 40px;

                @media (max-width : $mobile) {
                    position: relative;
                    top: 40px;
                    left: 75%;    
                }
            }
    
            &-div
            {
                width: 100%;

                @media (max-width : $mobile) {
                    
                }
    
                &-img{
                    border-radius: 20px 20px 0 0;
                    height: 200px;
                    position: relative;
                    width: 100%;
                    height: 200px;
                    max-height: 100%;
                    object-fit: cover;

                    @media (max-width : $mobile) {
                    
                    }
    
                }
            }
    
            &-description 
            {
                background-color: white;
                border-radius: 0 0 20px 20px ;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                position: relative;
                top : -10px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 10px;
                
                
    
                @media (max-width : $mobile) {
                 margin-bottom: 15px;
                }
    
                &-titre{
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    align-items: flex-start;

                    @media (max-width: $mobile) {
                        
                    }
                }
    
                &-like{
                    margin-right: 20px;
                    font-size: 25px;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;

                    &> .fa-regular
                    {
                        color: $color-secondary;
                        display: block;
                    }

                    &> .fa-solid
                    {
                        display: none;
                        color: $color-secondary;
                        transition: color 700ms, transform 700ms;

                        &:hover
                        {
                            @include like_hover_desktop;
                        }
                    }

                    &:hover
                    {
                        &>.fa-regular
                        {
                            display: none;
                        }

                        &>.fa-solid
                        {
                            display: block;
                        }
                    }

                    @media (max-width: $mobile) {
                        &> .fa-regular
                        {
                            color: grey;
                            display: block;
                        }
    
                        &> .fa-solid
                        {
                            display: none;
                        }
                    }
                }
    
            }
    
        }
    }
}


@keyframes fin-chargement {
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0) translateY(-70px);
    }
}
