.exploration-restaurant{

    background-color: $bg-color;
    @media (max-width : 768px){
        height: 430px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3px;
    }

    &__recherche
    {
        @media (max-width: 768px){
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 100%;
            background-color: rgb(219, 219, 219);
        }

        &>i
        {
            font-size: 20px;
        }

        &-bar
        {
            @media (max-width : 768px) {
                height: 100%;
                border: none;
                background-color: rgb(219, 219, 219);
            }

            &::placeholder
            {
               @media (max-width : 768px){
                font-weight: bold;
                color: black;
                font-size: 17px;
               }

            }
        }
    }
    &__texte
    {
        @media (max-width : 768px) {
            display: flex;
            flex-direction : column;
            justify-content: center;
            text-align: center;
            width: 70%;
        }

        &>h3
        {
            @media (max-width : 768px){
                //font-family: 'Roboto';
                font-weight: 700;
                margin-top: 50px;
                font-size: 30px;
            }
        }

        &>p
        {
            @media (max-width : 768px){
                margin-top: 25px;
                font-size: 18px;
            }
        }
    }
    &__btn
    {
        @include btn;

        &:hover
        {
            @include btn_hover;
        }


    }


}