.exploration-restaurant{

    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;

    @media (max-width : $mobile){
        height: 430px;
    }

    &__recherche
    {
        display: flex;
        background-color: rgb(219, 219, 219);
        height: 50px;            
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;


        &>i
        {
            font-size: 20px;
        }

        &-bar
        {
            height: 100%;
            border: none;
            background-color: rgb(219, 219, 219);

            &::placeholder
            {
                font-weight: bold;
                color: black;
                font-size: 17px;
            }
        }
    }

    &__texte
    {
        display: flex;
        flex-direction : column;
        justify-content: center;
        text-align: center;
        width: 100%;

        @media (max-width : 768px) {
            width: 70%;
        }

        &>h3
        {
            font-weight: 700;
            margin-top: 50px;
            font-size: 30px;
        }

        &>p
        {
            @media (max-width : 768px){
                margin-top: 25px;
                font-size: 18px;
            }
        }
    }
    &__btn
    {
        @include btn;
        margin-bottom: 40px;

        &:hover
        {
            @include btn_hover;
        }


    }


}