
.logo-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    &__img{
        @media (max-width : 768px){
            width: 200px;
        }
    }

    &-retour
    {
        position: relative;
        left: -25%;

        &>i
        {
            font-size: 20px;
            color: black;
        }    
    }


}
