
.logo-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    box-shadow: 0px 15px 10px -15px black;
    border: 2px solid red; 
    &__img{
        @media (max-width : 768px){
            width: 200px;
        }
    }

}
