@mixin btn {
    padding: 20px;
    border-radius: 30px;
    font-size: 18px;
    background-color: $color-primary;
    color: white;
    margin-top : 40px;
    border: 0px ;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
}