@mixin btn {
    padding: 20px;
    border-radius: 30px;
    font-size: 18px;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    margin-top : 40px;
    border: 0px ;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);

    transition: box-shadow 400ms, transform 400ms;
}

@mixin btn_hover {

    cursor: pointer;
    background: linear-gradient($secondary-light, $primary-light); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}