@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); //font Roboto
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'); //font Shrikhand

$colour-primary : #9356DC ;
$coulour-secondary : #FF79DA ;
$colour-tertiary : #99E2D0 ;
$bg-colour : rgb(241, 241, 241);;